<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <a href="/" title="Home">{{ .Site.Params.Title }}</a>
    <small>{{ .Site.Params.Tagline }}</small>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if eq .URL "/" }} active {{ end }}" href="/">Home</a>
    <a class="sidebar-nav-item {{ if eq .URL "post" }} active {{ end }}" href="/post">Posts</a>
    {{ $thisperma := .Permalink }}
    {{ range .Site.Pages.ByWeight }}
      {{ if isset .Params "sidebar" }}
        <a class="sidebar-nav-item {{ if eq .Permalink $thisperma }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
  </nav>

  <div class="sidebar-item">
    <p>Follow me</p>
  </div>
  <nav class="sidebar-nav">
    <a target="_blank" class="sidebar-nav-item {{ if eq .URL "post" }} active {{ end }}" href="https://twitter.com/t_etor"><i class="fa fa-twitter"></i> &nbsp;Twitter</a>
    <a target="_blank" class="sidebar-nav-item {{ if eq .URL "post" }} active {{ end }}" href="https://github.com/tetor"><i class="fa fa-github-alt"></i> &nbsp;Github</a>
    <a target="_blank" class="sidebar-nav-item {{ if eq .URL "post" }} active {{ end }}" href="https://www.linkedin.com/in/tetor"><i class="fa fa-linkedin"></i> &nbsp;LinkedIn</a>
  </nav>

  <div class="sidebar-item">
    <p>&copy; {{ .Site.LastChange.Year }}. All rights reserved.</p>
  </div>
</div>
